* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 249, 241);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-info {
  border-bottom: 2px solid #007bff;
  color: white;
  background-color: #1e1e1e;
  font-weight: 300;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 16px;
}

.header-info span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.logo img {
  width: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-right {
  display: flex;
  gap: 50px;
  align-items: center;
}

.ulList {
  display: flex;
  gap: 20px;
  list-style: none;
}

.ulList li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.ulList li a:hover {
  color: #007bff;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search i {
  color: #333;
}

#hambur {
  display: none;
}

#hambur i {
  font-size: 26px;
}

/* CART */

#cart {
  position: relative;
}

#cart i {
  font-size: 25px;
  cursor: pointer;
}

.cart-burbuja {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

/* CART MENU */

.cart-menu {
  position: fixed;
  top: 74px;
  right: -100%;
  height: 100%;
  width: 25vw;
  background-color: white;
  z-index: 1000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
}

.cart-menu.visibleCart {
  right: 0;
}

.products-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 50px;
  height: auto;
}

.cart-item span {
  border: 1px solid black;
  background-color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
}

.div-items {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.cantidad {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 5px;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.clear-buy {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.btn-buy,
.clear-cart {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-buy:hover,
.clear-cart:hover {
  background-color: #0056b3;
}

.disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.visibleCart {
  display: block;
}

.add-modal {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  transform: translateY(200%);
}

.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}

.clear-buy {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.clear-cart {
  background-color: rgb(227, 227, 227);
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.clear-cart:hover {
  background-color: rgb(200, 200, 200);
}

.btn-buy {
  background-color: #ffee6c;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 10px;
  transition: background-color 0.3s;
}

.btn-buy:hover {
  background-color: #e6d65c;
}

.disabled {
  cursor: not-allowed;
}
/* MENU HAMBURGUESA */

.open-menu {
  display: none;
  position: fixed;
  top: 54px;
  right: 0;
  width: 60vw;
  height: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.container-menu-hambur {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}

.searchHambur {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchHambur input {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.ulListHambur {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style-type: none;
}

.ulListHambur li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.ulListHambur li a:hover {
  color: #007bff;
}

/* HERO SECTION */
.hero {
  background-color: #1d3382; /* Azul celeste */
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 127px;
}
.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* ABOUT US SECTION */
.about-us {
  background-color: #f8f8f8;
  padding: 40px 20px;
  text-align: center;
}

.about-us h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.about-us p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  max-width: 800px;
  margin: 0 auto;
}

/* SECTION PRODUCTS */

.sectionProducts {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f8f8f8;
}

.filter {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

.marcas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.marcas label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.marcas input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

/* PRODUCT CARD */

#container-products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex: 1;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  border-radius: 4px;
  aspect-ratio: 1;
  object-fit: cover;
}

.product-card h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.product-card p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.product-card button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background-color: #0056b3;
}
/* FOOTER */
footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  color: #333;
  font-size: 14px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.footer-info h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #000;
}

.footer-info ul {
  list-style: none;
  padding: 0;
}

.footer-info ul li {
  margin-bottom: 5px;
}

.footer-info ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.footer-info ul li a:hover {
  color: #007bff;
}

.footer-info-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.sectionFooter-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.mediospagos,
.mediosenvio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.mediospagos span,
.mediosenvio span {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.footer-imagenes img {
  width: 50px;
  height: auto;
  transition: transform 0.3s;
}

.footer-imagenes img:hover {
  transform: scale(1.1);
}

/* Contact */

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-contact label {
  font-size: 18px;
  margin-bottom: 10px;
}

.form-contact input,
.form-contact textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-contact button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* MEDIAQUERIES */
@media (max-width: 768px) {
  .ulList {
    display: none;
  }

  .search {
    display: none;
  }

  .searchHambur {
    display: flex;
    gap: 10px;
  }

  #hambur {
    display: flex;
    cursor: pointer;
  }

  .open-menu {
    top: 74px;
    width: 100%;
  }

  .container-menu-hambur {
    align-items: center;
    height: 100%;
    font-size: 35px;
  }

  .visibleMenu {
    display: block;
  }

  /* CART */

  .cart-menu {
    width: 100%;
  }

  /* HERO */

  .hero {
    height: 45vh;
  }
  .hero h2 {
    font-size: 25px;
  }

  /* SECTION PRODUCTS */
  .sectionProducts {
    flex-direction: column;
    align-items: center;
  }

  /* Contact Form  */
  #contact-form {
    width: 100%;
  }
}
